---
import BaseLayout from "~/layouts/BaseLayout.astro";

const { slug } = Astro.params;
---

<BaseLayout title="Single Post" description="Single Post Page">
  <h1>Single Post {slug}</h1>
</BaseLayout>
