---
import { getCollection } from "astro:content";
import FeaturedPostPreview from "~/components/FeaturedPostPreview.astro";
import FeaturedProjectPreview from "~/components/FeaturedProjectPreview.astro";
import Layout from "~/layouts/Layout.astro";

const featuredProjects = await getCollection<"projects">(
  "projects",
  (entry) => !entry.data.hidden
);

const featuredPosts = await getCollection<"posts">(
  "posts",
  (entry) => !entry.data.hidden
);
---

<Layout title="Personal Site">
  <main class="container mx-auto md:max-w-4xl max-w-5xl">
    <h1 class="sr-only">Home</h1>
    <section class="mx-2">
      <h2 class="mb-2 text-2xl text-white">Featured Projects</h2>

      <div class="flex flex-col">
        {
          featuredProjects.map(({ data }) => (
            <FeaturedProjectPreview preview={data} />
          ))
        }
      </div>
      {/* <p><a href="/projects">View More</a></p> */}
    </section>
    <section class="mx-2">
      <h2 class="mb-2 text-2xl text-white">Featured Posts</h2>
      <div class="flex flex-col">
        {
          featuredPosts.map(({ data }) => (
            <FeaturedPostPreview preview={data} />
          ))
        }
      </div>
      {/* <p><a href="/posts">View More</a></p> */}
    </section>
  </main>
</Layout>

<style is:global>
  :root {
    --page-background: #1f1f1f;
    --text-primary: white;
    --text-secondary: #a6a6a6;
  }

  body {
    background-color: var(--page-background);
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--text-secondary);
  }

  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .tag {
    @apply mr-1 rounded bg-neutral-900 px-2 py-1;
  }

  .tag::before {
    content: "#";
    margin-right: 1px;
  }
</style>
