---
type FeaturedPost = {
  category: string;
  title: string;
  description: string;
  tags: string[];
  hidden: boolean;
};

type Props = {
  preview: FeaturedPost;
};

const { preview } = Astro.props;
---

<article class="mb-1 rounded bg-neutral-800 p-2 shadow">
  <header>
    {
      preview.category && (
        <p class="text-[10px] uppercase tracking-widest text-white">
          {preview.category}
        </p>
      )
    }
    <h3 class="text-xl text-white">{preview.title}</h3>
  </header>
  <p class="mb-3 text-sm">{preview.description}</p>
  <ul class="flex text-xs">
    {preview.tags.map((tag) => <li class="tag">{tag}</li>)}
  </ul>
</article>
