---
type FeaturedProject = {
  language: string;
  name: string;
  description: string;
  hidden: boolean;
};

type Props = {
  preview: FeaturedProject;
};

const { preview } = Astro.props;
---

<article class="mb-1 rounded bg-neutral-800 p-2 shadow">
  <header>
    {
      preview.language && (
        <p class="text-[10px] uppercase tracking-widest text-white">
          {preview.language}
        </p>
      )
    }
    <h3 class="text-[20px] text-white">{preview.name}</h3>
  </header>
  <p class="text-secondary text-sm">{preview.description}</p>
</article>
