---
// import ThemeToggle from "~/components/ThemeToggle";
// import GitHubIcon from "~/icons/GitHubIcon.astro";
// // import TwitterIcon from "~/icons/TwitterIcon.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

// const pathname = new URL(Astro.request.url).pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <!-- <body class="antialiased bg-neutral-900 max-w-2xl mx-4 md:mx-auto"> -->
  <body
    class="antialiased bg-neutral-900 text-neutral-400 mx-4 mt-8 mb-40 md:mx-auto max-w-2xl"
  >
    <header>
      <nav>
        <menu class="flex gap-3 my-8">
          <li
            class="text-neutral-400 hover:text-neutral-200 hover:cursor-pointer"
          >
            <a href="/" aria-label="Home">home</a>
          </li>
          <li
            class="text-neutral-400 hover:text-neutral-200 hover:cursor-pointer"
          >
            <a href="/blog" aria-label="Blog">blog</a>
          </li>
          <!-- <li
            class="text-neutral-400 hover:text-neutral-200 hover:cursor-pointer"
          >
            snippets
          </li> -->
        </menu>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer class="my-8">
      <p class="text-center">&copy; Copyright 2023. All rights reserved.</p>
    </footer>
  </body>
</html>

<!-- 
    <header class="bg-[#1f2023]">
      <nav
        class="container mx-auto max-w-5xl md:max-w-4xl flex justify-between py-4 px-4 md:px-0 text-white"
      >
        <menu class="flex gap-3">
          <li>
            <a class:list={{ underline: pathname === "/" }} href="/">Home</a>
          </li>
          <li>
            <a
              class:list={{ underline: pathname.includes("/blog") }}
              href="/blog">Blog</a
            >
          </li>
          <li>
            <a
              class:list={{ underline: pathname.includes("/snippets") }}
              href="/snippets">Snippets</a
            >
          </li>
        </menu>

        <menu class="flex gap-3">
          <li>
            <ThemeToggle client:load />
          </li>
          <li>
            <a href="/rss.xml">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                ></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://github.com/ztk37"><GitHubIcon fill="white" /></a>
          </li>
        </menu>
      </nav>
    </header>
    <main class="container mx-auto max-w-5xl md:max-w-4xl">
      <slot />
    </main>
    <footer class="text-center bg-[#1f2023] text-white p-2">
      &copy; Copyright 2023. All rights reserved.
    </footer>
  </body>
  <style is:global>
    html {
      background-color: #26272b;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  </style>
</html> -->
