@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-background: #1f1f1f;
  --text-primary: white;
  --text-secondary: #a6a6a6;
}

#__next {
  background-color: #1f1f1f;
}

body {
  background-color: var(--page-background);
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--text-secondary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.tag {
  @apply mr-1 rounded bg-neutral-900 px-2 py-1;
}

.tag::before {
  content: "#";
  margin-right: 1px;
}
